In [1]:
#Importing Libraries
import sqlite3
import pandas as pd

In [2]:
#Read CSV file into a Dataframe
file_path = '../data/updated_route_to_grandmas.csv'
data = pd.read_csv(file_path)

data

,CBSA_ID,CBSA_NAME,ACUITY_LEVEL,WEEK,SEASON,Latitude,Longitude,ACTIVITY_LEVEL
0,454,"Alamogordo, NM",7,3/9/2024,2023-24,32.899532,-105.960265,Moderate
1,250,"Albertville, AL",3,3/9/2024,2023-24,34.267594,-86.208867,Minimal
2,165,"Albuquerque, NM",11,3/9/2024,2023-24,35.084386,-106.650422,Very High
3,891,"Alexander City, AL",2,3/9/2024,2023-24,32.944012,-85.953853,Minimal
4,66,"Alexandria, LA",5,3/9/2024,2023-24,31.311294,-92.445137,Low
...,...,...,...,...,...,...,...,...
1261,409,"Victoria, TX",1,5/4/2024,2023-24,28.805267,-97.003598,Minimal
1262,642,"Waco, TX",1,5/4/2024,2023-24,31.549333,-97.146670,Minimal
1263,907,"Wauchula, FL",1,5/4/2024,2023-24,27.547259,-81.811471,Minimal
1264,108,"Yuba City, CA",1,5/4/2024,2023-24,39.140661,-121.617739,Minimal
1265,59,"Yuma, AZ",1,5/4/2024,2023-24,32.692651,-114.627692,Minimal

In [4]:
data.dtypes

CBSA_ID             int64
CBSA_NAME          object
ACUITY_LEVEL        int64
WEEK               object
SEASON             object
Latitude          float64
Longitude         float64
ACTIVITY_LEVEL     object
dtype: object

In [5]:
### Storing data into SQLite

In [6]:
#connect to databade
connection = sqlite3.connect('DrivingRoute.db')
data.to_sql('Updated_Flu_data', connection, if_exists='replace')

1266

In [7]:
connection.close()