In [8]:
import os
import pandas as pd

# Set the correct file path
file_path = r"C:\Users\board\Proj3 exfiles\updated_route_to_grandmas.csv"  # Use the updated absolute path

# Check if the file exists
if not os.path.exists(file_path):
    raise FileNotFoundError(f"The file {file_path} does not exist.")

# Load the CSV file
data = pd.read_csv(file_path)

# Ensure the 'WEEK' column is properly formatted
if "WEEK" not in data.columns:
    raise ValueError("The CSV file must contain a 'WEEK' column.")

# Output directory (same as input file's directory)
output_directory = os.path.dirname(file_path)

# Group by 'WEEK' and save each group as a separate CSV file
for week, group in data.groupby("WEEK"):
    output_file = os.path.join(output_directory, f"week_{week}.csv".replace("/", "-"))  # Replace slashes in week
    group.to_csv(output_file, index=False)
    print(f"Created file: {output_file}")

Created file: C:\Users\board\Proj3 exfiles\week_10.csv
Created file: C:\Users\board\Proj3 exfiles\week_11.csv
Created file: C:\Users\board\Proj3 exfiles\week_12.csv
Created file: C:\Users\board\Proj3 exfiles\week_13.csv
Created file: C:\Users\board\Proj3 exfiles\week_14.csv
Created file: C:\Users\board\Proj3 exfiles\week_15.csv
Created file: C:\Users\board\Proj3 exfiles\week_16.csv
Created file: C:\Users\board\Proj3 exfiles\week_17.csv
Created file: C:\Users\board\Proj3 exfiles\week_18.csv

In [11]:
# Reload the files with correct paths
scenic_sites_file = r"C:\Users\board\PROJECT_3_FLUVIEW\data\scenic_sites_itinerary.csv"
route_to_grandmas_file = r"C:\Users\board\PROJECT_3_FLUVIEW\data\updated_route_to_grandmas.csv"

# Load the datasets to check their columns
scenic_sites_df = pd.read_csv(scenic_sites_file)
route_to_grandmas_df = pd.read_csv(route_to_grandmas_file)

# Display column names for both datasets
scenic_sites_columns = scenic_sites_df.columns.tolist()
route_to_grandmas_columns = route_to_grandmas_df.columns.tolist()

scenic_sites_columns, route_to_grandmas_columns

(['Sights\tLatitude\tLongitude\tStart\tFinish'],
 ['CBSA_ID',
  'CBSA_NAME',
  'ACUITY_LEVEL',
  'WEEK',
  'SEASON',
  'Latitude',
  'Longitude',
  'ACTIVITY_LEVEL'])

In [15]:
print("Scenic Sites Rows:", len(scenic_sites_df))
print("Route to Grandma's Rows:", len(route_to_grandmas_df))

Scenic Sites Rows: 15
Route to Grandma's Rows: 1266

In [16]:
print("Unique Lat/Lon in Scenic Sites:")
print(scenic_sites_df[['Latitude', 'Longitude']].drop_duplicates())

print("Unique Lat/Lon in Route to Grandma's:")
print(route_to_grandmas_df[['Latitude', 'Longitude']].drop_duplicates())

Unique Lat/Lon in Scenic Sites:
    Latitude  Longitude
0    32.7804  -106.1714
1    15.1556   145.7068
2    29.6571   -98.6117
3    30.1987   -97.8313
4    28.3852   -81.5639
5    28.0419   -82.4150
6    28.0365   -82.4151
7    27.9244   -82.8410
8    29.9604   -90.0589
9    29.9471   -90.0918
10   31.8993   -88.3112
11   30.3496   -87.3035
12   25.0273   -81.5358
13   34.0522  -118.2437
14   25.7907   -80.1300
Unique Lat/Lon in Route to Grandma's:
     Latitude  Longitude
0     32.8995  -105.9603
1     34.2676   -86.2089
2     35.0844  -106.6504
3     32.9440   -85.9539
4     31.3113   -92.4451
..        ...        ...
136   28.8053   -97.0036
137   31.5493   -97.1467
138   27.5473   -81.8115
139   39.1407  -121.6177
140   32.6927  -114.6277

[141 rows x 2 columns]

In [23]:
import pandas as pd

# File paths
scenic_sites_file = r"C:\Users\board\PROJECT_3_FLUVIEW\data\scenic_sites_itinerary.csv"
route_to_grandmas_file = r"C:\Users\board\PROJECT_3_FLUVIEW\data\updated_route_to_grandmas.csv"

# Load datasets
scenic_sites_df = pd.read_csv(scenic_sites_file, delimiter="\t").copy()
route_to_grandmas_df = pd.read_csv(route_to_grandmas_file).copy()

# Ensure column names match
print("Scenic Sites Columns:", scenic_sites_df.columns)
print("Route Columns:", route_to_grandmas_df.columns)

# Apply rounding for better matching
scenic_sites_df['Latitude_Rounded'] = scenic_sites_df['Latitude'].round(4)
scenic_sites_df['Longitude_Rounded'] = scenic_sites_df['Longitude'].round(4)
route_to_grandmas_df['Latitude_Rounded'] = route_to_grandmas_df['Latitude'].round(4)
route_to_grandmas_df['Longitude_Rounded'] = route_to_grandmas_df['Longitude'].round(4)

# Check unique Lat/Lon values before merge
print("Unique Lat/Lon in Scenic Sites:")
print(scenic_sites_df[['Latitude_Rounded', 'Longitude_Rounded']].drop_duplicates())

print("Unique Lat/Lon in Route Data:")
print(route_to_grandmas_df[['Latitude_Rounded', 'Longitude_Rounded']].drop_duplicates())

# Merge datasets
merged_df = pd.merge(
    scenic_sites_df,
    route_to_grandmas_df,
    on=["Latitude_Rounded", "Longitude_Rounded"],
    how="inner",
    suffixes=("_scenic", "_route")
)

# Check if the merge worked
if merged_df.empty:
    print("No matching rows found during merge.")
else:
    print("Merged Rows:", len(merged_df))

# Combine site names for matched rows
if 'Sights' in merged_df.columns and 'CBSA_NAME' in merged_df.columns:
    merged_df["SITES"] = merged_df[["Sights", "CBSA_NAME"]].apply(
        lambda x: ', '.join(x.dropna()), axis=1
    )

# Save the merged file to a new location to avoid overwriting
output_file = r"C:\Users\board\PROJECT_3_FLUVIEW\data\merged_scenic_and_route_safe.csv"
merged_df.to_csv(output_file, index=False)

# Display results
print(f"Merged data saved to: {output_file}")
print("Preview of Merged Data:")
print(merged_df.head())

Scenic Sites Columns: Index(['Sights', 'Latitude', 'Longitude', 'Start', 'Finish'], dtype='object')
Route Columns: Index(['CBSA_ID', 'CBSA_NAME', 'ACUITY_LEVEL', 'WEEK', 'SEASON', 'Latitude',
       'Longitude', 'ACTIVITY_LEVEL'],
      dtype='object')
Unique Lat/Lon in Scenic Sites:
    Latitude_Rounded  Longitude_Rounded
0            32.7804          -106.1714
1            15.1556           145.7068
2            29.6571           -98.6117
3            30.1987           -97.8313
4            28.3852           -81.5639
5            28.0419           -82.4150
6            28.0365           -82.4151
7            27.9244           -82.8410
8            29.9604           -90.0589
9            29.9471           -90.0918
10           31.8993           -88.3112
11           30.3496           -87.3035
12           25.0273           -81.5358
13           34.0522          -118.2437
14           25.7907           -80.1300
Unique Lat/Lon in Route Data:
     Latitude_Rounded  Longitude_Rounded
0             32.8995          -105.9603
1             34.2676           -86.2089
2             35.0844          -106.6504
3             32.9440           -85.9539
4             31.3113           -92.4451
..                ...                ...
136           28.8053           -97.0036
137           31.5493           -97.1467
138           27.5473           -81.8115
139           39.1407          -121.6177
140           32.6927          -114.6277

[141 rows x 2 columns]
No matching rows found during merge.
Merged data saved to: C:\Users\board\PROJECT_3_FLUVIEW\data\merged_scenic_and_route_safe.csv
Preview of Merged Data:
Empty DataFrame
Columns: [Sights, Latitude_scenic, Longitude_scenic, Start, Finish, Latitude_Rounded, Longitude_Rounded, CBSA_ID, CBSA_NAME, ACUITY_LEVEL, WEEK, SEASON, Latitude_route, Longitude_route, ACTIVITY_LEVEL, SITES]
Index: []

In [31]:
import pandas as pd

# Correct local Windows paths
sites_path = r'C:\Users\board\PROJECT_3_FLUVIEW\data\sites.csv'
route_path = r'C:\Users\board\PROJECT_3_FLUVIEW\data\updated_route_to_grandmas.csv'

# Load the data
sites_df = pd.read_csv(sites_path)
route_df = pd.read_csv(route_path)

# Here you would include any data processing or merging operations

In [32]:
sites_df.head(), route_df.head()

(                           Sites   Latitude   Longitude
 0  White Sands National Park\t\t  32.780361 -106.171448
 1                Texas Capitol\t  15.155630 -106.171448
 2               The Galleria\t\t  29.657089  -98.611732
 3     Oak Alley Plantation\t\t\t  30.198700  -97.831329
 4            DisneyWorld\t\t\t\t  28.385233  -81.563873,
    CBSA_ID           CBSA_NAME  ACUITY_LEVEL      WEEK   SEASON   Latitude  \
 0      454      Alamogordo, NM             7  3/9/2024  2023-24  32.899532
 1      250     Albertville, AL             3  3/9/2024  2023-24  34.267594
 2      165     Albuquerque, NM            11  3/9/2024  2023-24  35.084386
 3      891  Alexander City, AL             2  3/9/2024  2023-24  32.944012
 4       66      Alexandria, LA             5  3/9/2024  2023-24  31.311294

     Longitude ACTIVITY_LEVEL
 0 -105.960265       Moderate
 1  -86.208867        Minimal
 2 -106.650422      Very High
 3  -85.953853        Minimal
 4  -92.445137            Low  )

In [35]:
# Clean up site names by removing extraneous tab characters
sites_df['Sites'] = sites_df['Sites'].str.replace(r'\t+', '', regex=True)

# Define a function to find the closest point in route_df for each point in sites_df and calculate the median coordinates
def adjust_coordinates(sites, route):
    # Prepare columns to store adjusted latitudes and longitudes
    adjusted_lats = []
    adjusted_lons = []

    # For each site, find the closest route point
    for index, site in sites.iterrows():
        # Calculate the distance to each route point
        distances = np.sqrt((route['Latitude'] - site['Latitude'])**2 + (route['Longitude'] - site['Longitude'])**2)
        closest_idx = distances.idxmin()  # Index of the closest route point

        # Calculate median latitude and longitude
        median_lat = np.median([site['Latitude'], route.loc[closest_idx, 'Latitude']])
        median_lon = np.median([site['Longitude'], route.loc[closest_idx, 'Longitude']])

        # Append adjusted coordinates
        adjusted_lats.append(median_lat)
        adjusted_lons.append(median_lon)

    # Update sites dataframe with adjusted coordinates
    sites['Latitude'] = adjusted_lats
    sites['Longitude'] = adjusted_lons

    return sites

# Adjust the coordinates in sites_df based on the closest matches in route_df
adjusted_sites_df = adjust_coordinates(sites_df, route_df)
adjusted_sites_df

                                   Sites   Latitude   Longitude
0              White Sands National Park  32.839947 -106.065856
1                          Texas Capitol  20.767709 -102.495876
2                           The Galleria  29.541005  -98.552400
3                   Oak Alley Plantation  30.353478  -97.755112
4                            DisneyWorld  28.484024  -81.451907
5         Universal Islands of Adventure  28.158129  -82.401774
6                Busch Gardens Tampa Bay  28.155418  -82.401829
7                       Clearwater Beach  28.099393  -82.614791
8                         French Quarter  29.981177  -90.111125
9                         Jackson Square  29.974532  -90.127599
10  USS ALABAMA Battleship Memorial Park  31.461537  -87.902556
11        National Naval Aviation Museum  30.409194  -87.269814
12                          Florida Keys  24.791198  -81.657869
13                           Los Angeles  33.962418 -118.264245
14                        GRANDMAS HOUSE  26.252553  -80.092494