In [1]:
#Importing Libraries
import sqlite3
import pandas as pd

In [2]:
#Read CSV file into a Dataframe
file_path = '../data/ILINet.csv'
data = pd.read_csv(file_path)

data

,REGION TYPE,REGION,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 25-64,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,National,X,2021,40,2.05,1.97,13140,7466,X,13154,3201,2574,39535,3501,2007349
1,National,X,2021,41,1.95,1.91,13072,7120,X,11985,2975,2486,37638,3510,1973726
2,National,X,2021,42,1.93,1.86,12500,6458,X,11458,2943,2355,35714,3474,1918176
3,National,X,2021,43,1.98,1.89,12859,6677,X,11888,2853,2362,36639,3509,1934723
4,National,X,2021,44,2.14,2.09,13304,6968,X,14454,2930,2374,40030,3515,1917361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,National,X,2024,35,1.93,1.89,8439,12223,X,15731,4556,4733,45682,3924,2418520
152,National,X,2024,36,1.92,1.91,8653,12074,X,14746,4689,4578,44740,3934,2345581
153,National,X,2024,37,1.95,1.91,8863,12549,X,15823,4677,4742,46654,3880,2447372
154,National,X,2024,38,1.95,1.95,9500,12326,X,17207,4740,4768,48541,3944,2492540
155,National,X,2024,39,1.94,1.94,9474,12161,X,16117,4632,4484,46868,3919,2418875

In [3]:
data.drop(columns = ["REGION TYPE", "REGION", "AGE 25-64"])

,YEAR,WEEK,% WEIGHTED ILI,%UNWEIGHTED ILI,AGE 0-4,AGE 25-49,AGE 5-24,AGE 50-64,AGE 65,ILITOTAL,NUM. OF PROVIDERS,TOTAL PATIENTS
0,2021,40,2.05,1.97,13140,7466,13154,3201,2574,39535,3501,2007349
1,2021,41,1.95,1.91,13072,7120,11985,2975,2486,37638,3510,1973726
2,2021,42,1.93,1.86,12500,6458,11458,2943,2355,35714,3474,1918176
3,2021,43,1.98,1.89,12859,6677,11888,2853,2362,36639,3509,1934723
4,2021,44,2.14,2.09,13304,6968,14454,2930,2374,40030,3515,1917361
...,...,...,...,...,...,...,...,...,...,...,...,...
151,2024,35,1.93,1.89,8439,12223,15731,4556,4733,45682,3924,2418520
152,2024,36,1.92,1.91,8653,12074,14746,4689,4578,44740,3934,2345581
153,2024,37,1.95,1.91,8863,12549,15823,4677,4742,46654,3880,2447372
154,2024,38,1.95,1.95,9500,12326,17207,4740,4768,48541,3944,2492540
155,2024,39,1.94,1.94,9474,12161,16117,4632,4484,46868,3919,2418875

In [4]:
#Rename and reorganize columns of the DataFrame
renamed_data = data.rename(columns={"YEAR":"Year", 
                                         "WEEK":"Week", 
                                         "% WEIGHTED ILI":"Adjusted Percent of Population Sick",
                                         "%UNWEIGHTED ILI":"Unweighted Percent of Population Sick", 
                                         "AGE 0-4":"Ages 0-4",
                                         "AGE 25-49":"Ages 25-49",
                                         "AGE 5-24":"Ages 5-24",
                                         "AGE 50-64":"Ages 50-64",
                                         "AGE 65":"Ages 65+",
                                         "ILITOTAL":"Influenza Totals", 
                                         "NUM. OF PROVIDERS":"Number of Providers", 
                                            })
organized_data = renamed_data[["Year", 
                                   "Week",  
                                   "Ages 0-4", 
                                   "Ages 5-24", 
                                   "Ages 25-49",
                                  "Ages 50-64",
                                  "Ages 65+",
                                  "Number of Providers", 
                                  "Influenza Totals",
                                  "Adjusted Percent of Population Sick",
                                  "Unweighted Percent of Population Sick", 
                                  ]]
organized_data.head()

,Year,Week,Ages 0-4,Ages 5-24,Ages 25-49,Ages 50-64,Ages 65+,Number of Providers,Influenza Totals,Adjusted Percent of Population Sick,Unweighted Percent of Population Sick
0,2021,40,13140,13154,7466,3201,2574,3501,39535,2.05,1.97
1,2021,41,13072,11985,7120,2975,2486,3510,37638,1.95,1.91
2,2021,42,12500,11458,6458,2943,2355,3474,35714,1.93,1.86
3,2021,43,12859,11888,6677,2853,2362,3509,36639,1.98,1.89
4,2021,44,13304,14454,6968,2930,2374,3515,40030,2.14,2.09

In [5]:
organized_data.dtypes

Year                                       int64
Week                                       int64
Ages 0-4                                   int64
Ages 5-24                                  int64
Ages 25-49                                 int64
Ages 50-64                                 int64
Ages 65+                                   int64
Number of Providers                        int64
Influenza Totals                           int64
Adjusted Percent of Population Sick      float64
Unweighted Percent of Population Sick    float64
dtype: object

In [6]:
#organized_data['int_column'] = organized_data['Adjusted Percent of Population Sick'].astype(int)
#organized_data

# Convert columns to appropriate types if needed
# Convert "Adjusted Percent of Population Sick" to integers (example handling)
# organized_data["Adjusted Percent of Population Sick"] = pd.to_numeric(
#     organized_data["Adjusted Percent of Population Sick"], errors="coerce"
# )

# organized_data["Unweighted Percent of Population Sick"] = pd.to_numeric(
#     organized_data["Unweighted Percent of Population Sick"], errors="coerce"
# )

# Ensure columns with float data are rounded and converted to integers
# organized_data["Adjusted Percent of Population Sick"] = organized_data["Adjusted Percent of Population Sick"].fillna(0).round().astype(int)
# organized_data["Unweighted Percent of Population Sick"] = organized_data["Unweighted Percent of Population Sick"].fillna(0).round().astype(int)

C:\Users\kiley\AppData\Local\Temp\ipykernel_19204\837576603.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organized_data["Adjusted Percent of Population Sick"] = pd.to_numeric(
C:\Users\kiley\AppData\Local\Temp\ipykernel_19204\837576603.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organized_data["Unweighted Percent of Population Sick"] = pd.to_numeric(
C:\Users\kiley\AppData\Local\Temp\ipykernel_19204\837576603.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organized_data["Adjusted Percent of Population Sick"] = organized_data["Adjusted Percent of Population Sick"].fillna(0).round().astype(int)
C:\Users\kiley\AppData\Local\Temp\ipykernel_19204\837576603.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organized_data["Unweighted Percent of Population Sick"] = organized_data["Unweighted Percent of Population Sick"].fillna(0).round().astype(int)